@model ICollection<LezioneViewModel>
<h1>Ecco la lista delle Lezioni</h1>
<br />
<a type=button class="btn btn-primary" asp-controller="Lezioni" asp-action="Create">Inserisci nuova Lezione!</a>
<table class = "table table-hover table-bordered table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Docente</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.LezioneId</td>
                <td>@item.DocenteID</td> @*Mettere nome docente*@
               @*<td>@item.Descrizione</td>*@
                <td>
                <a class="btn btn-primary" asp-controller="Lezioni" asp-action="Details" asp-route-id="@item.LezioneId">Visualizza dettagli</a>
                <a class="btn btn-primary" asp-controller="Lezioni" asp-action="Edit" asp-route-id="@item.LezioneId">Modifica Aula</a>
                <a class="btn btn-danger" asp-controller="Lezioni" asp-action="Delete" asp-route-id="@item.LezioneId">Elimina</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th>
            <th></th>
        </tr>
    </tfoot>
</table>

